.map-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 30px;
}

.map-frame {
  border: 2px solid black;
  height: 100%;

  ::ng-deep {
    .leaflet-tile {
      filter: grayscale(100%) invert(0%);
    }
  }
}

#map {
  height: 100%;
}

.panel {
  position: fixed;
  top: 50px;
  left: 60px;
  z-index: 401;

  input {
    font-size: 24px;
  }
}
