/* You can add global styles to this file, and also import other style files */

.leaflet-popup {
  .leaflet-popup-content-wrapper {
    background-color: gold;
  }

  .leaflet-popup-tip-container {
    .leaflet-popup-tip {
      background-color: gold;
    }
  }
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
