/* You can add global styles to this file, and also import other style files */

.leaflet-popup .leaflet-popup-content-wrapper {
  background-color: gold;
}


/*.leaflet-tile-loaded {
  filter: brightness(1) invert(1) grayscale(10);
}

.leaflet-container a {
  color: #000000;
}

.leaflet-container .leaflet-control-attribution {
  background: none;
  background-color: #fff;
}*/
